BEGIN TRY

BEGIN TRAN;

-- CreateSchema
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'dbo') EXEC sp_executesql N'CREATE SCHEMA [dbo];';

-- CreateTable
CREATE TABLE [dbo].[users] (
    [id] INT NOT NULL IDENTITY(1,1),
    [userId] NVARCHAR(128) NOT NULL,
    [email] NVARCHAR(255) NOT NULL,
    [firstName] NVARCHAR(200) NOT NULL,
    [lastName] NVARCHAR(200) NOT NULL,
    [password] NVARCHAR(255),
    [status] NVARCHAR(20) NOT NULL CONSTRAINT [users_status_df] DEFAULT 'active',
    [creationTime] DATETIME2 NOT NULL CONSTRAINT [users_creationTime_df] DEFAULT CURRENT_TIMESTAMP,
    [phoneNumber] NVARCHAR(50),
    [city] NVARCHAR(200) NOT NULL CONSTRAINT [users_city_df] DEFAULT '',
    [state] NVARCHAR(200) NOT NULL CONSTRAINT [users_state_df] DEFAULT '',
    [country] NVARCHAR(200) NOT NULL CONSTRAINT [users_country_df] DEFAULT '',
    [comment] NVARCHAR(max),
    [communityId1] NVARCHAR(128),
    [communityId2] NVARCHAR(128),
    [isActive] BIT NOT NULL CONSTRAINT [users_isActive_df] DEFAULT 1,
    [googleId] NVARCHAR(255),
    [instagramId] NVARCHAR(255),
    [profileImage] NVARCHAR(500),
    [role] NVARCHAR(20) NOT NULL CONSTRAINT [users_role_df] DEFAULT 'user',
    [createdAt] DATETIME2 NOT NULL CONSTRAINT [users_createdAt_df] DEFAULT CURRENT_TIMESTAMP,
    [updatedAt] DATETIME2 NOT NULL,
    CONSTRAINT [users_pkey] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [users_userId_key] UNIQUE NONCLUSTERED ([userId]),
    CONSTRAINT [users_email_key] UNIQUE NONCLUSTERED ([email])
);

-- CreateTable
CREATE TABLE [dbo].[user_community_requests] (
    [userId] NVARCHAR(128) NOT NULL,
    [name] NVARCHAR(500) NOT NULL,
    [shortName] NVARCHAR(500) NOT NULL CONSTRAINT [user_community_requests_shortName_df] DEFAULT '',
    [description] NVARCHAR(max) NOT NULL CONSTRAINT [user_community_requests_description_df] DEFAULT '',
    [isOnline] BIT NOT NULL CONSTRAINT [user_community_requests_isOnline_df] DEFAULT 0,
    [city] NVARCHAR(200) NOT NULL CONSTRAINT [user_community_requests_city_df] DEFAULT '',
    [state] NVARCHAR(200) NOT NULL CONSTRAINT [user_community_requests_state_df] DEFAULT '',
    [existingCommunityId] NVARCHAR(128),
    CONSTRAINT [user_community_requests_pkey] PRIMARY KEY CLUSTERED ([userId])
);

-- CreateTable
CREATE TABLE [dbo].[communities] (
    [id] INT NOT NULL IDENTITY(1,1),
    [communityId] NVARCHAR(128) NOT NULL,
    [name] NVARCHAR(500) NOT NULL,
    [fullName] NVARCHAR(500),
    [isOnline] BIT NOT NULL CONSTRAINT [communities_isOnline_df] DEFAULT 0,
    [state] NVARCHAR(200) NOT NULL,
    [city] NVARCHAR(200) NOT NULL,
    [address] NVARCHAR(500) NOT NULL CONSTRAINT [communities_address_df] DEFAULT '',
    [description] NVARCHAR(max),
    [creationTime] DATETIME2 NOT NULL CONSTRAINT [communities_creationTime_df] DEFAULT CURRENT_TIMESTAMP,
    [createdAt] DATETIME2 NOT NULL CONSTRAINT [communities_createdAt_df] DEFAULT CURRENT_TIMESTAMP,
    [updatedAt] DATETIME2 NOT NULL,
    CONSTRAINT [communities_pkey] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [communities_communityId_key] UNIQUE NONCLUSTERED ([communityId])
);

-- CreateTable
CREATE TABLE [dbo].[teams] (
    [id] INT NOT NULL IDENTITY(1,1),
    [teamId] NVARCHAR(64) NOT NULL,
    [teamName] NVARCHAR(200) NOT NULL,
    [country] NVARCHAR(200) NOT NULL,
    [coach] NVARCHAR(200),
    [foundedYear] INT,
    [createdAt] DATETIME2 NOT NULL CONSTRAINT [teams_createdAt_df] DEFAULT CURRENT_TIMESTAMP,
    [updatedAt] DATETIME2 NOT NULL,
    CONSTRAINT [teams_pkey] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [teams_teamId_key] UNIQUE NONCLUSTERED ([teamId])
);

-- CreateTable
CREATE TABLE [dbo].[matches] (
    [id] INT NOT NULL IDENTITY(1,1),
    [matchId] NVARCHAR(128) NOT NULL,
    [sequence] INT NOT NULL,
    [team1] NVARCHAR(64) NOT NULL,
    [team2] NVARCHAR(64) NOT NULL,
    [team1Score] INT,
    [team2Score] INT,
    [matchTime] DATETIME2 NOT NULL,
    [predictionsEndingTime] DATETIME2 NOT NULL,
    [round] INT NOT NULL,
    [comment] NVARCHAR(max),
    [matchTag] NVARCHAR(200) NOT NULL,
    [status] NVARCHAR(20) NOT NULL CONSTRAINT [matches_status_df] DEFAULT 'scheduled',
    [createdAt] DATETIME2 NOT NULL CONSTRAINT [matches_createdAt_df] DEFAULT CURRENT_TIMESTAMP,
    [updatedAt] DATETIME2 NOT NULL,
    CONSTRAINT [matches_pkey] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [matches_matchId_key] UNIQUE NONCLUSTERED ([matchId])
);

-- CreateTable
CREATE TABLE [dbo].[predictions] (
    [id] INT NOT NULL IDENTITY(1,1),
    [userId] NVARCHAR(128) NOT NULL,
    [email] NVARCHAR(255) NOT NULL,
    [matchId] NVARCHAR(128) NOT NULL,
    [matchTag] NVARCHAR(200) NOT NULL,
    [team1Score] INT NOT NULL,
    [team2Score] INT NOT NULL,
    [submittedTime] DATETIME2 NOT NULL CONSTRAINT [predictions_submittedTime_df] DEFAULT CURRENT_TIMESTAMP,
    [points] INT NOT NULL CONSTRAINT [predictions_points_df] DEFAULT 0,
    [comment] NVARCHAR(max),
    [createdAt] DATETIME2 NOT NULL CONSTRAINT [predictions_createdAt_df] DEFAULT CURRENT_TIMESTAMP,
    [updatedAt] DATETIME2 NOT NULL,
    CONSTRAINT [predictions_pkey] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [predictions_userId_matchId_key] UNIQUE NONCLUSTERED ([userId],[matchId])
);

-- CreateTable
CREATE TABLE [dbo].[results] (
    [id] INT NOT NULL IDENTITY(1,1),
    [userId] NVARCHAR(128) NOT NULL,
    [userName] NVARCHAR(400) NOT NULL,
    [matchId] NVARCHAR(128) NOT NULL,
    [matchTag] NVARCHAR(200) NOT NULL,
    [result] NVARCHAR(20) NOT NULL,
    [matchPoints] INT NOT NULL CONSTRAINT [results_matchPoints_df] DEFAULT 0,
    [finalPoints] INT NOT NULL CONSTRAINT [results_finalPoints_df] DEFAULT 0,
    [communityId1] NVARCHAR(128),
    [communityId2] NVARCHAR(128),
    [dailyRank] INT,
    [finalRank] INT,
    [createdAt] DATETIME2 NOT NULL CONSTRAINT [results_createdAt_df] DEFAULT CURRENT_TIMESTAMP,
    [updatedAt] DATETIME2 NOT NULL,
    CONSTRAINT [results_pkey] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [results_userId_matchId_key] UNIQUE NONCLUSTERED ([userId],[matchId])
);

-- CreateTable
CREATE TABLE [dbo].[community_results] (
    [id] INT NOT NULL IDENTITY(1,1),
    [communityId] NVARCHAR(128) NOT NULL,
    [communityWeightagePoint] INT NOT NULL CONSTRAINT [community_results_communityWeightagePoint_df] DEFAULT 1,
    [matchId] NVARCHAR(128) NOT NULL,
    [matchTag] NVARCHAR(200) NOT NULL,
    [communityMatchPoint] INT NOT NULL CONSTRAINT [community_results_communityMatchPoint_df] DEFAULT 0,
    [totalCommunityPoint] INT NOT NULL CONSTRAINT [community_results_totalCommunityPoint_df] DEFAULT 0,
    [dailyRank] INT,
    [finalRank] INT,
    [createdAt] DATETIME2 NOT NULL CONSTRAINT [community_results_createdAt_df] DEFAULT CURRENT_TIMESTAMP,
    [updatedAt] DATETIME2 NOT NULL,
    CONSTRAINT [community_results_pkey] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [community_results_communityId_matchId_key] UNIQUE NONCLUSTERED ([communityId],[matchId])
);

-- CreateTable
CREATE TABLE [dbo].[top_leaders] (
    [id] INT NOT NULL IDENTITY(1,1),
    [rank] INT NOT NULL,
    [totalPoints] INT NOT NULL,
    [name] NVARCHAR(400) NOT NULL,
    [state] NVARCHAR(200) NOT NULL CONSTRAINT [top_leaders_state_df] DEFAULT '',
    [community1] NVARCHAR(500),
    [community2] NVARCHAR(500),
    [userId] NVARCHAR(128) NOT NULL,
    [email] NVARCHAR(255) NOT NULL,
    [createdAt] DATETIME2 NOT NULL CONSTRAINT [top_leaders_createdAt_df] DEFAULT CURRENT_TIMESTAMP,
    [updatedAt] DATETIME2 NOT NULL,
    CONSTRAINT [top_leaders_pkey] PRIMARY KEY CLUSTERED ([id])
);

-- CreateTable
CREATE TABLE [dbo].[daily_leaders] (
    [id] INT NOT NULL IDENTITY(1,1),
    [rank] INT NOT NULL,
    [totalPoints] INT NOT NULL,
    [name] NVARCHAR(400) NOT NULL,
    [state] NVARCHAR(200) NOT NULL CONSTRAINT [daily_leaders_state_df] DEFAULT '',
    [community1] NVARCHAR(500),
    [community2] NVARCHAR(500),
    [userId] NVARCHAR(128) NOT NULL,
    [email] NVARCHAR(255) NOT NULL,
    [date] DATETIME2 NOT NULL,
    [createdAt] DATETIME2 NOT NULL CONSTRAINT [daily_leaders_createdAt_df] DEFAULT CURRENT_TIMESTAMP,
    [updatedAt] DATETIME2 NOT NULL,
    CONSTRAINT [daily_leaders_pkey] PRIMARY KEY CLUSTERED ([id])
);

-- CreateTable
CREATE TABLE [dbo].[community_leaders] (
    [id] INT NOT NULL IDENTITY(1,1),
    [rank] INT NOT NULL,
    [totalPoints] INT NOT NULL,
    [communityName] NVARCHAR(500) NOT NULL,
    [communityId] NVARCHAR(128) NOT NULL,
    [createdAt] DATETIME2 NOT NULL CONSTRAINT [community_leaders_createdAt_df] DEFAULT CURRENT_TIMESTAMP,
    [updatedAt] DATETIME2 NOT NULL,
    CONSTRAINT [community_leaders_pkey] PRIMARY KEY CLUSTERED ([id])
);

-- CreateTable
CREATE TABLE [dbo].[daily_community_leaders] (
    [id] INT NOT NULL IDENTITY(1,1),
    [rank] INT NOT NULL,
    [totalPoints] INT NOT NULL,
    [communityName] NVARCHAR(500) NOT NULL,
    [communityId] NVARCHAR(128) NOT NULL,
    [date] DATETIME2 NOT NULL,
    [createdAt] DATETIME2 NOT NULL CONSTRAINT [daily_community_leaders_createdAt_df] DEFAULT CURRENT_TIMESTAMP,
    [updatedAt] DATETIME2 NOT NULL,
    CONSTRAINT [daily_community_leaders_pkey] PRIMARY KEY CLUSTERED ([id])
);

-- CreateIndex
CREATE NONCLUSTERED INDEX [results_matchId_idx] ON [dbo].[results]([matchId]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [top_leaders_userId_idx] ON [dbo].[top_leaders]([userId]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [daily_leaders_date_idx] ON [dbo].[daily_leaders]([date]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [daily_leaders_userId_idx] ON [dbo].[daily_leaders]([userId]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [community_leaders_communityId_idx] ON [dbo].[community_leaders]([communityId]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [daily_community_leaders_date_idx] ON [dbo].[daily_community_leaders]([date]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [daily_community_leaders_communityId_date_idx] ON [dbo].[daily_community_leaders]([communityId], [date]);

-- AddForeignKey
ALTER TABLE [dbo].[user_community_requests] ADD CONSTRAINT [user_community_requests_userId_fkey] FOREIGN KEY ([userId]) REFERENCES [dbo].[users]([userId]) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE [dbo].[predictions] ADD CONSTRAINT [predictions_userId_fkey] FOREIGN KEY ([userId]) REFERENCES [dbo].[users]([userId]) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE [dbo].[predictions] ADD CONSTRAINT [predictions_matchId_fkey] FOREIGN KEY ([matchId]) REFERENCES [dbo].[matches]([matchId]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[results] ADD CONSTRAINT [results_userId_fkey] FOREIGN KEY ([userId]) REFERENCES [dbo].[users]([userId]) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE [dbo].[results] ADD CONSTRAINT [results_matchId_fkey] FOREIGN KEY ([matchId]) REFERENCES [dbo].[matches]([matchId]) ON DELETE NO ACTION ON UPDATE NO ACTION;

COMMIT TRAN;

END TRY
BEGIN CATCH

IF @@TRANCOUNT > 0
BEGIN
    ROLLBACK TRAN;
END;
THROW

END CATCH

